@model Eshop.ViewModels.CategoryViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 style="padding-top: 10px; padding-bottom: 10px;">Oferty</h1>

<form class="searchPost" asp-controller="Offer" asp-action="Index" method="get">
    <p>
        <input type="text" placeholder="Szukaj.." name="searchString">
        <input type="number" step=".01" min="0" placeholder="Cena: Od" name="postPriceFrom">
        <input type="number" step=".01" min="0" placeholder="Cena: Do" name="postPriceTo">
        <select type="text" asp-items="Model.Genres" name="postCategory">
            <option value="">Wszystko</option>
        </select>
        <button type="submit"><i class="fa fa-search"></i></button>
    </p>
</form>
<div class="offer">
    @foreach (var item in Model.Offers)
     {
    <div data-href="Offer/Details/@item.Id" class="row-offer row-offer-border">
        <div class=" image-column">
            <img class="image-offer" src="@("/Images/"+item.GalleryModel.ImageModel[0].Name)" asp-append-version="true" />
        </div>
        <div class="description-column">
            <p class="table-title-w table-title-font">@item.Title</p>
            <p class="table-content-w breaking-wordDB">@item.Content</p>
        </div>
        <div class="price-column">
            <text class="price">@item.Price PLN</text>
        </div>
    </div>  
     }
</div>

<script>
    document.addEventListener("DOMContentLoaded", () => {
        const rows = document.querySelectorAll("div[data-href]");

        rows.forEach(row => {
            row.addEventListener("click", () => {
                window.location.href = row.dataset.href;
            })
        })
    })
</script>
