@model IEnumerable<Eshop.Models.OfferModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    tr[data-href] {
        cursor: pointer;
    }
</style>

<h1 style="padding-bottom: 10px; padding-top: 10px;">Twoje Oferty</h1>
@if (Model.Count() > 0)
{
<table class="table table-hover">
    <tbody>
        @foreach (var item in Model)
        {
            <tr data-href="details/@item.Id">
                <td>
                    <img class="image-size" src="@("/Images/" + item.GalleryModel.ImageModel[0].Name)" asp-append-version="true" alt="First slide">
                </td>
                <td>
                    <p class="table-title-w table-title-font"> @Html.DisplayFor(modelItem => item.Title)</p>
                    <p class="table-content-w breaking-wordDB">@Html.DisplayFor(modelItem => item.Content)</p>
                </td>
                <td>
                </td>
                <td class="price">
                    @Html.DisplayFor(modelItem => item.Price) <text> PLN</text>
                </td>
            </tr>
        }
    </tbody>
</table>
}
else
{
    <hr />
    <a>Nie posiadasz jeszcze żadnych ofert.</a>
}

<script>
    document.addEventListener("DOMContentLoaded", () => {
        const rows = document.querySelectorAll("tr[data-href]");

        rows.forEach(row => {
            row.addEventListener("click", () => {
                window.location.href = row.dataset.href;
            })
        })
    })
</script>