@{
    ViewData["Title"] = "Home Page";
}

<div class="tile-section">
    <ul class="tile-grid">
        <li>
            <div class="tile-box tile-img-1 fade-in tile-shadow">
                <a asp-action="Index" asp-controller="Posts" asp-route-postCategory="Elektronika">
                    <div class="tile-info">
                        <h3>Elektronika</h3>
                        <p>Lorem ipsum dolor sit amet.</p>
                    </div>
                </a>
            </div>
        </li>
        <li>
            <div class="tile-box tile-img-2 fade-in tile-shadow">
                <a asp-action="Index" asp-controller="Posts" asp-route-postCategory="Moda">
                    <div class="tile-info">
                        <h3>Moda</h3>
                        <p>Lorem ipsum dolor sit amet.</p>
                    </div>
                </a>
            </div>
        </li>
        <li>
            <div class="tile-box tile-img-3 fade-in tile-shadow">
                <a asp-action="Index" asp-controller="Posts" asp-route-postCategory="Motoryzacja">
                    <div class="tile-info">
                        <h3>Motoryzacja</h3>
                        <p>Lorem ipsum dolor sit amet.</p>
                    </div>
                </a>
            </div>
        </li>
        <li>
            <div class="tile-box tile-img-4 fade-in tile-shadow">
                <a asp-action="Index" asp-controller="Posts" asp-route-postCategory="Sport">
                    <div class="tile-info">
                        <h3>Sport</h3>
                        <p>Lorem ipsum dolor sit amet.</p>
                    </div>
                </a>
            </div>
        </li>
        <li>
            <div class="tile-box tile-img-5 fade-in tile-shadow">
                <a asp-action="Index" asp-controller="Posts" asp-route-postCategory="Rozrywka">
                    <div class="tile-info">
                        <h3>Rozrywka</h3>
                        <p>Lorem ipsum dolor sit amet.</p>
                    </div>
                </a>
            </div>
        </li>
        <li>
            <div class="tile-box tile-img-6 fade-in tile-shadow">
                <a asp-action="Index" asp-controller="Posts" asp-route-postCategory="Uroda">
                    <div class="tile-info">
                        <h3>Uroda</h3>
                        <p>Lorem ipsum dolor sit amet.</p>
                    </div>
                </a>
            </div>
        </li>
        <li>
            <div class="tile-box tile-img-7 fade-in tile-shadow">
                <a asp-action="Index" asp-controller="Posts" asp-route-postCategory="Dziecko">
                    <div class="tile-info">
                        <h3>Dziecko</h3>
                        <p>Lorem ipsum dolor sit amet.</p>
                    </div>
                </a>
            </div>
        </li>
        <li>
            <div class="tile-box tile-img-8 fade-in tile-shadow">
                <a asp-action="Index" asp-controller="Posts" asp-route-postCategory="Dom">
                    <div class="tile-info">
                        <h3>Dom</h3>
                        <p>Lorem ipsum dolor sit amet.</p>
                    </div>
                </a>
            </div>
        </li>
    </ul>
</div>

<script>
    const faders = document.querySelectorAll('.fade-in');

    const appearOptions = {
        threshold: 1,
        rootMargin: "0px 0px 170px 0px"
    };
    const appearOnScroll = new IntersectionObserver
        (function (entries, appearOnScroll) {
            entries.forEach(entry => {
                if (!entry.isIntersecting) {
                    return;
                } else {
                    entry.target.classList.add('appear');
                    appearOnScroll.unobserve(entry.target);
                }
            })
        },
            appearOptions);

    faders.forEach(fader => {
        appearOnScroll.observe(fader);
    });
</script>