@using Microsoft.AspNetCore.Identity
@using Eshop.Models

@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager
    

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
    <li class="nav-item">
        
        <div class="dropdown nav-link cursor-pointer text-dark">
            <a class="dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Zarządzaj
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a style="cursor:auto;"class="nav-link text-dark">Witaj @await Component.InvokeAsync("UserNickName")</a>
                <a class="nav-link text-dark" asp-area="" asp-controller="DepositMoney" asp-action="Index">Dostępne Środki: @await Component.InvokeAsync("WalletBallance") PLN <i class="fas fa-wallet"></i></a>
                <a class="nav-link text-dark" asp-area="" asp-controller="ShoppingCarts" asp-action="Index">Koszyk: @await Component.InvokeAsync("ShoppingCartCount") <i class="fa fa-shopping-cart"></i></a>
                <a class="nav-link text-dark" asp-area="" asp-controller="Offer" asp-action="Create">Utwórz ofertę</a>
                <a class="nav-link text-dark" asp-area="" asp-controller="Offer" asp-action="Owned">Twoje oferty</a>
                <a class="nav-link text-dark" asp-area="" asp-controller="OffersEnded" asp-action="BoughtItems">Kupione</a>
                <a class="nav-link text-dark" asp-area="" asp-controller="OffersEnded" asp-action="SoldItems">Sprzedane</a>
                <a id="manage" class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Twoje Konto</a>
            </div>
        </div>
        
    </li>
        <li class="nav-item">
            <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button id="logout" type="submit" class="nav-link btn btn-link text-dark">Wyloguj</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" id="register" asp-area="Identity" asp-page="/Account/Register">Rejestracja</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" id="login" asp-area="Identity" asp-page="/Account/Login">Logowanie</a>
        </li>
    }
</ul>
