@model Eshop.DTO.CreatePostDTO

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 style="padding-top: 10px;">Utwórz Ofertę</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form enctype="multipart/form-data" asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label">Tytuł</label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Content" class="control-label">Opis</label>
                <input asp-for="Content" class="form-control" />
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label">Cena</label>
                <input type="number" step=".01" min="0" asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Kategoria</label>
                <select asp-for="Category" class="form-control">
                    <option value="Elektronika">Elektronika</option>
                    <option value="Moda">Moda</option>
                    <option value="Motoryzacja">Motoryzacja</option>
                    <option value="Sport">Sport</option>
                    <option value="Rozrywka">Rozrywka</option>
                    <option value="Uroda">Uroda</option>
                    <option value="Dziecko">Dziecko</option>
                    <option value="Dom">Dom</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="ImageFile" class="control-label">Zdjęcia</label>
                <input multiple asp-for="ImageFile" />
                <span asp-validation-for="ImageFile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Utwórz Ofertę" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Powrót do listy</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

