@model Eshop.Models.AppUser

@{
    ViewData["Title"] = "Deposit Money";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h3 class="title-font">Doładowanie środków</h3>
<hr />

<div>
    <form enctype="multipart/form-data" asp-action="AddMoney" asp-controller="DepositMoney">
        <div class="form-group">
            <label>Ilość w PLN:</label>
            <input type="number" step=".01" min="0" name="money" />
        </div>
        <div class="form-group details-right-align">
            <input type="submit" value="Doładuj" class="btn btn-success" />
        </div>
    </form>
</div>