@model IEnumerable<Eshop.Models.SentMessageModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1 class="title-font">Wysłane wiadomości</h1>
<div style="padding-bottom: 15px;">
    <a class="btn btn-dark" asp-controller="Messages" asp-action="Received">Otrzymane</a>
    <a class="btn btn-dark" asp-controller="Messages" asp-action="Sent">Wysłane</a>
</div>

    @if (Model.Count() > 0)
    {
     <div class="messages">
         @foreach (var item in Model)
          {
              <div data-href="SentDetails/@item.Id" class="message-row">
                  <div class="message-user-name">
                      <p>Do: @item.ReceiverName</p>
                  </div>
                  <div class="message-title">
                      <p>@item.MessageTitle</p>
                  </div>
                  <div class="message-date">
                      <p>@item.SentDate.ToString("g")</p>
                  </div>
              </div>
          }
    </div>
    }
    else
    {
        <hr />
        <p>Brak wysłanych wiadomości.</p>
    }

