@model Eshop.Models.SentMessageModel


<div class="row">
    <div class="col">
        <h3 class="title-font">Wysłana Wiadomość</h3>
        <p><span class="font-w600">Do:</span> @Model.ReceiverName</p>
        <p><span class="font-w600">Odnosnie ogłoszenia:</span> @Model.OfferTitle</p>
        <p><span class="font-w600">Tytuł:</span> @Model.MessageTitle</p>
        <p class="font-w600">Wiadomość:</p>
        <textarea readonly rows="5" class="form-control">@Model.MessageContent</textarea>
    </div>
</div>
